{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row-fluid">
    <img src="{% static "img/aboutheader.jpg" %}"/>
</div>
<div class="row-fluid">
    <p>
        The Pineapple project was inspired by travels to Mesoamerica and Africa: farmers shared stories of frustration with the lack of resources available for existing or potential farmers to make informed planting decisions. They explained that due to the scarcity of information available, often a less than optimum species or variety of a crop is planted, exhausting limited land and resources needed to augment dietary needs and supplement revenues such as the orphanage that this pineapple grove supports.        
    </p>
    <p>
        After requesting and researching resources, we learned that leading food security experts have also identified a lack of quality and actionable information for existing and potential farmers.
    </p>
    <p>
        Thus, we developed the Pineapple Project. Our goal is to help farmers in developing nations choose the crops that are most likely to thrive on their land, thus helping them to optimize the use of their time and resources.
    </p>
    <p>
        Using expert input and assistance from GN we began by developing a spreadsheet to centralize all publicly available information we could find related to crop climate constraints. However, we quickly discovered inconsistencies in resources for tropical crops. Currently we have decided to limit our database and schema to less than a dozen common cash crops found in the tropics and only a few climate constraints. Later we would like to expand this dataset using crowdsourced input.   
    </p>
    <p>
        At the heart of our solution is our recommendation engine, a tool that matches crop data with information related to variables that could influence the optimal crop planting decisions. As our solutions become more robust, we'd also like the capability to include aspects such as pricing.
    </p>
    <p>
        The pineapple project has a lot of needs, but data continues to be one of our biggest challenges. In particular we are seeking climate constraints for crops found in the equatorial regions of the world as well as precipitation and temperature data sets.
    </p>
</div>{% endblock %}