{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Support{% endblock %}

{% block content %}
<div class="row-fluid">
    <img src="{% static "img/joinheader.jpg" %}"/>
</div>
<h1>Join Us</h1>
<div class="row-fluid">
    <h2>Funding</h2>
    <h2>On The Ground</h2>
<h2>Agronomists & Scientists</h2>
    <h2>Developers</h2>
    <p>
        The pineapple project has a lot of needs, but data continues to be one of our biggest challenges. In particular we are seeking climate constraints for crops found in the equatorial regions of the world as well as precipitation and temperature data sets.
    </p>
    <h2>Other Skills</h2>
    <p>
        <ul>
            <li>Translators</li>
        </ul>
    </p>

</div>
{% endblock %}